<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.bo.mapper.AdminSettingMapper">

    <select id="getAdminSettingList" resultType="Map">
        SELECT setting_key AS settingKey, setting_value AS settingValue
        FROM Settings
    </select>

    <update id="putAdminSetting" >
        <foreach collection="param" item="item" separator=";">
            UPDATE Settings AS S
            SET
                setting_value = #{item.settingValue}
                , update_date = NOW()
            WHERE setting_key = #{item.settingKey}
        </foreach>
    </update>


    <select id="getDisplayInfoList" resultType="com.cudo.pixelviewer.vo.DisplaySettingVo">
        SELECT *
        FROM Displays_Setting
    </select>

    <select id="getDisplayInfo" resultType="com.cudo.pixelviewer.vo.DisplaySettingVo">
        SELECT *
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>

    <insert id="postDisplayInfo" parameterType="Map" useGeneratedKeys="true" keyColumn="display_id"
            keyProperty="displayId">
        INSERT INTO Displays_Setting
        (
            display_nm, gpu_nm, pos_x, pos_y, width, height, primary_fl
        )
        VALUES
        (
            #{displayNm}, #{gpuNm}, #{posX}, #{posY}, #{width}, #{height}, #{primaryFl}
        )
    </insert>

    <select id="putDisplayInfoValid" resultType="int">
        SELECT COUNT(display_id)
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>
    <update id="putDisplayInfo" parameterType="Map">
        UPDATE Displays_Setting
        SET
            display_nm = #{displayNm},
            gpu_nm = #{gpuNm},
            pos_x = #{posX},
            pos_y = #{posY},
            width = #{width},
            height = #{height},
            primary_fl = #{primaryFl}

        WHERE display_id = #{displayId}
    </update>

    <select id="deleteDisplayInfoValid" resultType="int">
        SELECT COUNT(display_id)
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>
    <select id="displayUsedCheck" resultType="String">
        SELECT screen_nm AS screenNm
        FROM Screens
        where screen_id =
        (
            SELECT screen_id
            FROM pixelviewer.Screen_Displays
            WHERE display_id = #{displayId}
        )
    </select>
    <delete id="deleteDisplayInfo" parameterType="Map">
        DELETE FROM Displays_Setting
        WHERE display_id = #{displayId}
    </delete>


    <update id="patchWeatherImg">
        UPDATE Settings AS S
        SET
            setting_value = #{originalFilename}
            , update_date = NOW()
        WHERE setting_key = #{settingKey}
    </update>

    <select id="getTestPattern" resultType="Map">
        SELECT setting_key AS settingKey, setting_value AS settingValue
        FROM Settings
        WHERE setting_key IN ('testPattern', 'testPatternTime');
    </select>

    <select id="getValue" resultType="String">
        SELECT setting_value
        FROM Settings
        WHERE setting_key = #{key}
    </select>

</mapper>