<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.bo.mapper.AdminSettingMapper">

    <select id="getAdminSettingList" resultType="com.cudo.pixelviewer.vo.AdminSettingVo">
        SELECT *
        FROM Setting
        WHERE program_id = 1
    </select>

    <update id="putAdminSetting">
        UPDATE Setting AS S
        SET
            view_topmost_en = #{viewTopmostEn},
            view_temphumi_en = #{viewTemphumiEn},
            led_comm_type = #{ledCommType},
            led_preset_en = #{ledPresetEn},
            led_input_select_en = #{ledInputSelectEn},
            login_en = #{loginEn},
            led_preset_count = #{ledPresetCount},
            img_default_playtime = #{imgDefaultPlaytime},
            externalinfo_area = #{externalinfoArea}
        WHERE S.program_id = 1
    </update>


    <update id="patchLayerTopMost">
        UPDATE Setting AS S
        SET view_topmost_en = #{type}
        WHERE S.program_id = 1
    </update>

    <update id="patchTempHumi">
        UPDATE Setting AS S
        SET view_temphumi_en = #{type}
        WHERE S.program_id = 1
    </update>

    <update id="patchControlType">
        UPDATE Setting AS S
        SET led_comm_type = #{type}
        WHERE S.program_id = 1
    </update>

    <update id="patchLedPresetEnable">
        UPDATE Setting AS S
        SET led_preset_en = #{type}
        WHERE S.program_id = 1
    </update>

    <update id="patchLedPresetCount">
        UPDATE Setting AS S
        SET led_preset_count = #{presetCount}
        WHERE S.program_id = 1
    </update>

    <update id="patchLedInputEnable">
        UPDATE Setting AS S
        SET led_input_select_en = #{type}
        WHERE S.program_id = 1
    </update>

    <select id="getDisplayInfoList" resultType="com.cudo.pixelviewer.vo.DisplaySettingVo">
        SELECT *
        FROM Displays_Setting
    </select>

    <select id="getDisplayInfo" resultType="com.cudo.pixelviewer.vo.DisplaySettingVo">
        SELECT *
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>

    <insert id="postDisplayInfo" parameterType="Map" useGeneratedKeys="true" keyColumn="display_id"
            keyProperty="displayId">
        INSERT INTO Displays_Setting
        (
            display_nm, gpu_nm, pos_x, pos_y, width, height, primary_fl
        )
        VALUES
        (
            #{displayNm}, #{gpuNm}, #{posX}, #{posY}, #{width}, #{height}, #{primaryFl}
        )
    </insert>

    <select id="putDisplayInfoValid" resultType="int">
        SELECT COUNT(display_id)
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>
    <update id="putDisplayInfo" parameterType="Map">
        UPDATE Displays_Setting
        SET
            display_nm = #{displayNm},
            gpu_nm = #{gpuNm},
            pos_x = #{posX},
            pos_y = #{posY},
            width = #{width},
            height = #{height},
            primary_fl = #{primaryFl}

        WHERE display_id = #{displayId}
    </update>

    <select id="deleteDisplayInfoValid" resultType="int">
        SELECT COUNT(display_id)
        FROM Displays_Setting
        WHERE display_id = #{displayId}
    </select>
    <delete id="deleteDisplayInfo" parameterType="Map">
        DELETE FROM Displays_Setting
        WHERE display_id = #{displayId}
    </delete>

</mapper>