<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.DisplayMapper">

    <select id="getDisplayList" resultType="com.cudo.pixelviewer.vo.DisplayVo">
        SELECT *
        FROM Screen_Displays AS SD
            LEFT JOIN Displays_Setting AS DS ON DS.display_id = SD.display_id
        WHERE screen_id = #{screenId}
    </select>

    <select id="getDisplay" resultType="com.cudo.pixelviewer.vo.DisplayVo">
        SELECT *
        FROM Screen_Displays AS SD
            LEFT JOIN Displays_Setting AS DS ON DS.display_id = SD.display_id
        WHERE SD.display_id = #{displayId}
    </select>

    <select id="getDisplayPortlist" resultType="Map">
        SELECT display_id, display_nm
        FROM Displays_Setting
        ORDER BY display_id ASC
    </select>

    <select id="patchDisplayTestpatternValid" resultType="int">
        SELECT COUNT(src_display_id)
        FROM Screen_Displays
        WHERE screen_id = #{screenId}
    </select>
    <update id="patchDisplayTestpattern">
        UPDATE Displays
        SET pattern_fl = 1
        WHERE Displays.display_id = #{displayId}
    </update>

</mapper>