<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.LayerMapper">


<!--    <select id="getLayerList" resultType="com.cudo.pixelviewer.vo.LayerVo">-->
    <select id="getLayerList" resultType="Map">
        SELECT layer_id AS layerId, preset_id AS presetId, screen_id AS screenId, layer_nm AS layerNm
             , pos_x AS posX, pos_y AS posY, width AS width, height AS height, ord AS ord
             , sub_first_en AS subFirstEn, sub_second_en AS subSecondEn
             , ex_video_en AS exVideoEn, weather_en AS weatherEn, air_en AS airEn
        FROM Layers AS L
    </select>
    <select id="getLayerListPlayList" resultType="Integer">
        SELECT playlist_id
        FROM Playlists
        where layer_id = #{layerId}
    </select>

<!--    <select id="getLayer" resultType="com.cudo.pixelviewer.vo.LayerVo">-->
    <select id="getLayer" resultType="Map">
        SELECT L.layer_id AS layerId, L.preset_id AS presetId, L.screen_id AS screenId, L.layer_nm AS layerNm
             , L.pos_x AS posX, L.pos_y AS posY, L.width AS width, L.height AS height, L.ord AS ord
             , L.sub_first_en AS subFirstEn, L.sub_second_en AS subSecondEn
             , L.ex_video_en AS exVideoEn, L.weather_en AS weatherEn, L.air_en AS airEn
        FROM Layers AS L
        WHERE L.layer_id = #{layerId}
    </select>
    <select id="getLayerLayerObject" resultType="Map">
        SELECT *
        FROM LayerObjects
        WHERE layer_id = #{layerId}
    </select>
    <select id="getLayerObjectExternalVideo" resultType="Map">
        SELECT pos_x AS posX, pos_y AS posY, ord AS ord, rtsp_url AS rtspUrl,  video_nm AS videoNm, ex_video_id AS exVideoId, width AS width, video_format AS videoFormat, type AS type, object_id AS objectId, height AS height, update_date AS updateDate
        FROM ExternalVideo
        WHERE object_id = #{objectId}
    </select>
    <select id="getLayerObjectExternalInfo" resultType="Map">
        SELECT type AS type, object_id AS objectId, ex_info_id AS exInfoId
             , pos_x AS posX, pos_y AS posY, width AS width, height AS height, ord AS ord, image_path AS imagePath
             , fore_color AS foreColor
             , font_nm AS fontNm, font_size AS fontSize, font_fl  AS fontFl, font_color AS fontColor
             , border_size AS borderSize, border_color AS borderColor, back_color AS backColor
             , update_date AS updateDate
        FROM External_Info
        WHERE object_id = #{objectId}
    </select>
    <select id="getLayerObjectExternalSubtitle" resultType="Map">
        SELECT subtitle_id AS subtitleId, screen_id AS screenId, preset_id AS presetId, layer_id AS layerId, object_id AS objectId, subtitle_style AS subtitleStyle, update_date AS updateDate
        FROM Subtitles
        WHERE object_id = #{objectId}
    </select>


    <select id="postLayerValid" resultType="int">
        SELECT count(layer_id)
        FROM Layers
        WHERE layer_nm = #{layerNm}
            AND rowsize = #{rowsize}
            AND columnsize = #{columnsize}
    </select>
    <insert id="postLayer" parameterType="Map" useGeneratedKeys="true" keyColumn="layer_id"
            keyProperty="layerId">
        INSERT INTO Layers
        (
            screen_id, preset_id, layer_nm, pos_x, pos_y, width, height, ord, sub_first_en, sub_second_en, ex_video_en, weather_en, air_en
        )
        VALUES
        (
            #{screenId}, #{presetId}, #{layerNm}, 0, 0, 0, 0, 0, false, false, false, false, false
        )
    </insert>

    <select id="deleteLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="deleteLayer">
        DELETE L.*, LO.*, EV.*, EI.*, S.*
        FROM Layers AS L
            LEFT JOIN LayerObjects as LO ON LO.layer_id = L.layer_id
            LEFT JOIN ExternalVideo as EV ON EV.layer_id = L.layer_id
            LEFT JOIN External_Info as EI ON EI.layer_id = L.layer_id
            LEFT JOIN Subtitles as S ON S.layer_id = L.layer_id
        WHERE L.layer_id = #{layerId}
    </update>

    <select id="putLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="putLayer">
        UPDATE Layers
        SET preset_id = #{presetId}, screen_id = #{screenId}
            , layer_nm = #{layerNm}, pos_x = #{posX}, pos_y = #{posY}
            , width = #{width}, height = #{height}, ord = #{ord}
            , sub_first_en = #{subFirstEn}, sub_second_en = #{subSecondEn}
            , ex_video_en = #{exVideoEn}, weather_en = #{weatherEn}, air_en = #{airEn}
        WHERE Layers.layer_id = #{layerId}
    </update>

    <update id="updateViewerStatus">
        UPDATE Layers
        SET viewer_status = #{viewerStatus}, viewer_yn = #{viewerYn}, update_date = NOW()
        WHERE layer_id = #{layerId}
    </update>

    <select id="getRunLayersStatus" resultType="com.cudo.pixelviewer.vo.LayerStatusRunVo">
        SELECT L.*,
               COALESCE(PL.playlist_id, 0) AS playlist_id,
               COALESCE(PL.playlist_nm, 'NULL') AS playlist_nm
        FROM Layers AS L
            LEFT JOIN Playlists AS PL ON PL.layer_id = L.layer_id
                                        AND PL.select_yn = 'Y'
        WHERE L.preset_id = #{presetId}
        ORDER BY L.layer_id ASC
    </select>


    <resultMap id="externalInfoResultMap" type="com.cudo.pixelviewer.vo.ExternalInfoVo">
        <id property="layerId" column="layer_id"/>
        <result property="exInfoId" column="we_ex_info_id"/>
        <result property="posX" column="we_pos_x"/>
        <result property="posY" column="we_pos_y"/>
        <result property="width" column="we_width"/>
        <result property="height" column="we_height"/>
        <result property="ord" column="we_ord"/>
        <result property="imagePath" column="we_image_path"/>
        <result property="fontNm" column="we_font_nm"/>
        <result property="fontSize" column="we_font_size"/>
        <result property="fontColor" column="we_font_color"/>
        <result property="borderSize" column="we_border_size"/>
        <result property="borderColor" column="we_border_color"/>
        <result property="backColor" column="we_back_color"/>
        <result property="backColor" column="we_back_color"/>
        <result property="updateDate" column="we_update_date"/>
    </resultMap>
    <resultMap id="externalInfo2ResultMap" type="com.cudo.pixelviewer.vo.ExternalInfoVo">
        <id property="layerId" column="air_layer_id"/>
        <result property="exInfoId" column="air_ex_info_id"/>
        <result property="posX" column="air_pos_x"/>
        <result property="posY" column="air_pos_y"/>
        <result property="width" column="air_width"/>
        <result property="height" column="air_height"/>
        <result property="ord" column="air_ord"/>
        <result property="imagePath" column="air_image_path"/>
        <result property="fontNm" column="air_font_nm"/>
        <result property="fontSize" column="air_font_size"/>
        <result property="fontColor" column="air_font_color"/>
        <result property="borderSize" column="air_border_size"/>
        <result property="borderColor" column="air_border_color"/>
        <result property="backColor" column="air_back_color"/>
        <result property="updateDate" column="air_update_date"/>
    </resultMap>
    <resultMap id="externalVideoResultMap" type="com.cudo.pixelviewer.vo.ExternalVideoVo">
        <id property="layerId" column="layer_id"/>
        <result property="exVideoId" column="ex_video_id"/>
        <result property="objectId" column="ex_object_id"/>
        <result property="type" column="ex_type"/>
        <result property="posX" column="ex_pos_x"/>
        <result property="posY" column="ex_pos_y"/>
        <result property="width" column="ex_width"/>
        <result property="height" column="ex_height"/>
        <result property="ord" column="ex_ord"/>
        <result property="rtspUrl" column="ex_rtsp_url"/>
        <result property="videoNm" column="ex_video_nm"/>
        <result property="videoFormat" column="ex_video_format"/>
    </resultMap>
    <resultMap id="subtitlesResultMap" type="String">
        <result property="subtitleStyle" column="st_subtitle_style"/>
    </resultMap>
    <resultMap id="finalResultMap" type="java.util.HashMap">
        <association property="weatherInfo" resultMap="externalInfoResultMap"/>
        <association property="airInfo" resultMap="externalInfo2ResultMap"/>
        <association property="exVideoInfo" resultMap="externalVideoResultMap"/>
        <association property="subtitleStyleInfo" resultMap="subtitlesResultMap"/>
    </resultMap>
    <select id="getLayerObject" resultMap="finalResultMap">
        SELECT L.layer_id,
               EI.ex_info_id AS we_ex_info_id,
               EI.pos_x AS we_pos_x, EI.pos_y AS we_pos_y, EI.width AS we_width, EI.height AS we_height, EI.ord AS we_ord,
               EI.image_path AS we_image_path, EI.font_nm AS we_font_nm, EI.font_size AS we_font_size, EI.font_color AS we_font_color,
               EI.border_size AS we_border_size, EI.border_color AS we_border_color, EI.back_color AS we_back_color,
               EI.update_date AS we_update_date,

               EI2.ex_info_id AS air_ex_info_id,
               EI2.pos_x AS air_pos_x, EI2.pos_y AS air_pos_y, EI2.width AS air_width,  EI2.height AS air_height, EI2.ord AS air_ord,
               EI2.image_path AS air_image_path, EI2.font_nm AS air_font_nm, EI2.font_size AS air_font_size, EI2.font_color AS air_font_color,
               EI2.border_size AS air_border_size, EI2.border_color AS air_border_color, EI2.back_color AS air_back_color,
               EI2.update_date AS air_update_date,

               EV.ex_video_id, EV.object_id AS ex_object_id,
               EV.type AS ex_type, EV.pos_x AS ex_pos_x, EV.pos_y AS ex_pos_y, EV.width AS ex_width, EV.height AS ex_height, EV.ord AS ex_ord,
               EV.rtsp_url AS ex_rtsp_url, EV.video_nm AS ex_video_nm, EV.video_format AS ex_video_format,

               ST.subtitle_style AS st_subtitle_style
        FROM Layers AS L
                 LEFT JOIN External_Info EI ON L.layer_id = EI.layer_id
                                                AND L.weather_en = 1 and EI.type = 20
                 LEFT JOIN External_Info EI2 ON L.layer_id = EI2.layer_id
                                                AND L.air_en = 1 and EI2.type = 40
                 LEFT JOIN ExternalVideo EV ON L.layer_id = EV.layer_id
                                                AND L.ex_video_en = 1
                 LEFT JOIN Subtitles ST ON L.layer_id = ST.layer_id
                                                AND (L.sub_first_en = 1 OR L.sub_second_en = 1)
        WHERE L.layer_id = #{layerId}
    </select>

    <select id="getUsingLayers" resultType="com.cudo.pixelviewer.vo.LayerVo">
        SELECT *
        FROM Layers AS L
        WHERE L.preset_id = #{presetId}
        AND L.viewer_status IN ('play', 'pause', 'stop');
    </select>

</mapper>