<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.LayerMapper">


<!--    <select id="getLayerList" resultType="com.cudo.pixelviewer.vo.LayerVo">-->
    <select id="getLayerList" resultType="Map">
        SELECT layer_id AS layerId, preset_id AS presetId, screen_id AS screenId, layer_nm AS layerNm
             , pos_x AS posX, pos_y AS posY, width AS width, height AS height, ord AS ord
             , subtitle_first_yn AS subtitleFirstYn, subtitle_second_yn AS subtitleSecondYn
        FROM Layers AS L
    </select>
    <select id="getLayerListPlayList" resultType="Integer">
        SELECT playlist_id
        FROM Playlists
        where layer_id = #{layerId}
    </select>

<!--    <select id="getLayer" resultType="com.cudo.pixelviewer.vo.LayerVo">-->
    <select id="getLayer" resultType="Map">
        SELECT L.layer_id AS layerId, L.preset_id AS presetId, L.screen_id AS screenId, L.layer_nm AS layerNm
             , L.pos_x AS posX, L.pos_y AS posY, L.width AS width, L.height AS height, L.ord AS ord
             , L.subtitle_first_yn AS subtitleFirstYn, L.subtitle_second_yn AS subtitleSecondYn
        FROM Layers AS L
        WHERE L.layer_id = #{layerId}
    </select>
    <select id="getLayerLayerObject" resultType="Map">
        SELECT *
        FROM LayerObjects
        WHERE layer_id = #{layerId}
    </select>
    <select id="getLayerObjectExternalVideo" resultType="Map">
        SELECT *
        FROM ExternalVideo
        WHERE object_id = #{objectId}
    </select>
    <select id="getLayerObjectExternalInfo" resultType="Map">
        SELECT *
        FROM External_Info
        WHERE object_id = #{objectId}
    </select>
    <select id="getLayerObjectExternalSubtitle" resultType="Map">
        SELECT *
        FROM Subtitles
        WHERE object_id = #{objectId}
    </select>


    <select id="postLayerValid" resultType="int">
        SELECT count(layer_id)
        FROM Layers
        WHERE layer_nm = #{layerNm}
            AND rowsize = #{rowsize}
            AND columnsize = #{columnsize}
    </select>
    <insert id="postLayer" parameterType="Map" useGeneratedKeys="true" keyColumn="layer_id"
            keyProperty="layerId">
        INSERT INTO Layers
        (
            screen_id, preset_id, layer_nm, pos_x, pos_y, width, height, ord, subtitle_first_yn, subtitle_second_yn
        )
        VALUES
        (
            #{screenId}, #{presetId}, #{layerNm}, 0, 0, 0, 0, 0, false, false
        )
    </insert>

    <select id="deleteLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="deleteLayer">
        DELETE S
        FROM Layers AS S
        WHERE S.layer_id = #{layerId}
    </update>

    <select id="putLayerValid" resultType="int">
        SELECT COUNT(layer_id)
        FROM Layers
        WHERE Layers.layer_id = #{layerId}
    </select>
    <update id="putLayer">
        UPDATE Layers
        SET preset_id = #{presetId}, screen_id = #{screenId}
            , layer_nm = #{layerNm}, pos_x = #{posX}, pos_y = #{posY}
            , width = #{width}, height = #{height}, ord = #{ord}
            , subtitle_first_yn = #{subtitleFirstYn}, subtitle_second_yn = #{subtitleSecondYn}
        WHERE Layers.layer_id = #{layerId}
    </update>

</mapper>