<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.PlaylistMapper">

    <select id="getPlaylistList" resultType="com.cudo.pixelviewer.vo.PlaylistVo">
        SELECT *
        FROM Playlists
    </select>

    <select id="getPlaylist" resultType="Map">
        SELECT playlist_nm AS playlistNm, layer_id AS layerId, preset_id AS presetId, playlist_id AS playlistId, content_id_list AS contentIdList, screen_id AS screenId, update_date AS updateDate
        FROM Playlists
        WHERE Playlists.playlist_id = #{playlistId}
    </select>
<!--    <select id="getPlaylistContentList" resultType="com.cudo.pixelviewer.vo.PlaylistContentsVo">-->
    <select id="getPlaylistContentList" resultType="Map">
        SELECT content_id AS contentId, type AS type, cts_nm AS ctsNm, cts_path AS ctsPath, thumbnail_path AS thumbnailPath
        FROM pixelviewer.playlist_contents
        WHERE content_id IN ${contentIdList}
    </select>

    <select id="postPlaylistValid" resultType="int">
        SELECT count(playlist_id)
        FROM Playlists
        WHERE playlist_nm = #{playlistNm}
            AND rowsize = #{rowsize}
            AND columnsize = #{columnsize}
    </select>
    <insert id="postPlaylist" parameterType="Map" useGeneratedKeys="true" keyColumn="playlist_id"
            keyProperty="playlistId">
        INSERT INTO Playlists
        (
            playlist_nm, layer_id, preset_id, screen_id, content_id_list, update_date
        )
        VALUES
        (
            #{playlistNm}, #{layerId}, #{presetId}, #{screenId}, #{contentIdList}, NOW()
        )
    </insert>

    <select id="deletePlaylistValid" resultType="int">
        SELECT COUNT(playlist_id)
        FROM Playlists
        WHERE Playlists.playlist_id = #{playlistId}
    </select>
    <update id="deletePlaylist">
        DELETE S
        FROM Playlists AS S
        WHERE S.playlist_id = #{playlistId}
    </update>

    <select id="patchPlaylistNameValid" resultType="int">
        SELECT COUNT(playlist_id)
        FROM Playlists
        WHERE Playlists.playlist_id = #{playlistId}
    </select>
    <update id="patchPlaylistName">
        UPDATE Playlists
        SET playlist_nm = #{playlistNm}, update_date = NOW()
        WHERE Playlists.playlist_id = #{playlistId}
    </update>

    <select id="putPlaylistValid" resultType="int">
        SELECT COUNT(playlist_id)
        FROM Playlists
        WHERE Playlists.playlist_id = #{playlistId}
    </select>
    <update id="putPlaylist">
        UPDATE Playlists
        SET content_id_list = #{contentIdList}, update_date = NOW()
        WHERE Playlists.playlist_id = #{playlistId}
    </update>
    <update id="putPlaylist2">
        UPDATE Playlists
        SET playlist_nm = #{playlistNm}, content_id_list = #{contentIdList}, update_date = NOW()
        WHERE Playlists.playlist_id = #{playlistId}
    </update>


    <select id="getPlaylistContentsList" resultType="com.cudo.pixelviewer.vo.PlaylistContentsVo">
        SELECT *
        FROM playlist_contents
    </select>

    <select id="getPlaylistContents" resultType="com.cudo.pixelviewer.vo.PlaylistContentsVo">
        SELECT *
        FROM playlist_contents
        WHERE content_id = #{contentId}
    </select>

    <select id="postPlaylistContentsValid" resultType="int">
        SELECT count(content_id)
        FROM playlist_contents
    </select>
    <insert id="postPlaylistContents" parameterType="Map" useGeneratedKeys="true" keyColumn="content_id"
            keyProperty="contentId">
        INSERT INTO playlist_contents
        (
            type
            , cts_nm, cts_path, playtime
            , weather_fl, air_info_fl, stretch
            , thumbnail_path
        )
        VALUES
            (
                #{type}
                , #{ctsNm}, #{ctsPath}, #{playtime}
                , #{weatherFl}, #{airInfoFl}, #{stretch}
                , #{thumbnailPath}
            )
    </insert>

    <select id="deletePlaylistContentsValid" resultType="int">
        SELECT count(content_id)
        FROM playlist_contents
        WHERE content_id = #{contentId}
    </select>
    <update id="deletePlaylistContents">
        DELETE PC
        FROM playlist_contents AS PC
        WHERE content_id = #{contentId}
    </update>

    <select id="patchContentsNameValid" resultType="int">
        SELECT count(content_id)
        FROM playlist_contents
        WHERE content_id = #{contentId}
    </select>
    <update id="patchContentsName">
        UPDATE playlist_contents
        SET cts_nm = #{ctsNm}
        WHERE content_id = #{contentId}
    </update>

    <select id="patchContentsPlaytimeValid" resultType="int">
        SELECT count(content_id)
        FROM playlist_contents
        WHERE content_id = #{contentId}
    </select>
    <update id="patchContentsPlaytime">
        UPDATE playlist_contents
        SET playtime = #{playtime}
        WHERE content_id = #{contentId}
    </update>
</mapper>