<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.PresetMapper">

    <select id="getPresetList" resultType="com.cudo.pixelviewer.vo.PresetVo">
        SELECT *
        FROM Presets
    </select>

    <select id="getPreset" resultType="com.cudo.pixelviewer.vo.PresetVo">
        SELECT *
        FROM Presets AS P
        WHERE P.preset_id = #{presetId}
    </select>
    <select id="getPresetLayers" resultType="com.cudo.pixelviewer.vo.LayerVo">
        SELECT *
        FROM Layers AS L
        WHERE L.preset_id = #{presetId}
    </select>

    <select id="postPresetValid" resultType="int">
        SELECT count(preset_id)
        FROM Presets
        WHERE preset_nm = #{presetNm}
            AND rowsize = #{rowsize}
            AND columnsize = #{columnsize}
    </select>
    <insert id="postPreset" parameterType="Map" useGeneratedKeys="true" keyColumn="preset_id"
            keyProperty="presetId">
        INSERT INTO Presets
        (
            screen_id, preset_nm, rowsize, columnsize, user_style_yn, preset_status
        )
        VALUES
        (
            #{screenId}, #{presetNm}, 0, 0, false, "WAIT"
        )
    </insert>

    <select id="deletePresetValid" resultType="int">
        SELECT COUNT(preset_id)
        FROM Presets
        WHERE Presets.preset_id = #{presetId}
    </select>
    <update id="deletePreset">
        DELETE P.*, L.*, LO.*, EV.*, EI.*, S.*
        FROM Presets AS P
            LEFT JOIN Layers as L ON L.preset_id = P.preset_id
            LEFT JOIN LayerObjects as LO ON LO.preset_id = P.preset_id
            LEFT JOIN ExternalVideo as EV ON EV.preset_id = P.preset_id
            LEFT JOIN External_Info as EI ON EI.preset_id = P.preset_id
            LEFT JOIN Subtitles as S ON S.preset_id = P.preset_id
        WHERE P.preset_id = #{presetId}
    </update>

    <select id="patchPresetNameValid" resultType="int">
        SELECT COUNT(preset_id)
        FROM Presets
        WHERE Presets.preset_id = #{presetId}
    </select>
    <update id="patchPresetName">
        UPDATE Presets
        SET preset_nm = #{presetNm}
        WHERE Presets.preset_id = #{presetId}
    </update>

    <select id="putPresetValid" resultType="int">
        SELECT COUNT(preset_id)
        FROM Presets
        WHERE Presets.preset_id = #{presetId}
    </select>
    <update id="putPreset">
        UPDATE Presets
        SET
            preset_nm = #{presetNm}
          , rowsize = #{rowsize}
          , columnsize = #{columnsize}
          , user_style_yn = #{userStyleYn}
          , preset_status = "WAIT"
        WHERE Presets.preset_id = #{presetId}
    </update>
    <update id="putPresetDeleteLayers">
        DELETE L.*, LO.*, EV.*, EI.*, S.*
        FROM Layers AS L
            LEFT JOIN LayerObjects as LO ON LO.preset_id = L.preset_id
            LEFT JOIN ExternalVideo as EV ON EV.preset_id = L.preset_id
            LEFT JOIN External_Info as EI ON EI.preset_id = L.preset_id
            LEFT JOIN Subtitles as S ON S.preset_id = L.preset_id
        WHERE L.preset_id = #{presetId}
    </update>
    <insert id="saveLayer" parameterType="Map">
        INSERT INTO Layers
        (layer_id, preset_id, screen_id, layer_nm, pos_x, pos_y, width, height, ord, sub_first_en, sub_second_en, ex_video_en, weather_en, air_en)
        VALUES
        <foreach collection="layerList" item="item" separator=",">
            (#{item.layerId}, #{item.presetId}, #{item.screenId},
            #{item.layerNm}, #{item.posX}, #{item.posY},
            #{item.width}, #{item.height}, #{item.ord},
            false, false, false, false, false
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        preset_id = VALUES(preset_id),
        screen_id = VALUES(screen_id),
        layer_nm = VALUES(layer_nm),
        pos_x = VALUES(pos_x),
        pos_y = VALUES(pos_y),
        width = VALUES(width),
        height = VALUES(height),
        ord = VALUES(ord)
    </insert>

    <select id="getPresetLayersToAgent" resultType="com.cudo.pixelviewer.vo.LayerToAgentVo">
        SELECT *
        FROM Layers AS L
        WHERE L.preset_id = #{presetId}
    </select>
    <update id="patchPresetStatus">
        UPDATE Presets
        SET preset_status = #{presetStatus}
        WHERE Presets.preset_id = #{presetId}
    </update>

</mapper>