<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.setting.mapper.SettingMapper">

    <select id="getSetting" resultType="Map">
        SELECT *
        FROM Displays
        WHERE display_id = 1
    </select>

    <update id="patchSettingImageDefaultPlaytime" parameterType="Map">
        UPDATE Setting
        SET
            img_default_playtime = #{playtime}
        WHERE program_id = 1
    </update>

</mapper>

