<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.setting.mapper.SettingMapper">

    <select id="getSetting" resultType="Map">
        SELECT *
        FROM Displays
        WHERE display_id = 1
    </select>

    <update id="patchSettingImageDefaultPlaytime" parameterType="Map">
        UPDATE Settings
        SET setting_value = #{playtime}, update_date = NOW()
        WHERE setting_key = "imgDefaultPlaytime";
    </update>

    <select id="getFontList" resultType="Map">
        SELECT font_id AS fontId, font_nm AS fontNm, font_fl AS fontFl
        FROM Font_Info
    </select>

    <select id="getFontListV2" resultType="String">
        SELECT font_nm AS fontNm
        FROM Font_Info
    </select>

</mapper>

