<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.operate.mapper.SubtitleMapper">

    <select id="postSubtitleValid" resultType="Integer">
        SELECT object_id
        FROM LayerObjects AS O
        WHERE O.layer_id = #{layerId}
            AND type = #{type}
    </select>
    <insert id="postSubtitle" parameterType="Map">
        <selectKey keyProperty="subtitleId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO LayerObjects (layer_id, preset_id, screen_id, type, object_nm)
        VALUES (#{layerId}, #{presetId}, #{screenId}, #{type}, #{objectNm});

        INSERT INTO Subtitles (screen_id, preset_id, layer_id, object_id, subtitle_style, update_date)
        VALUES (#{screenId}, #{presetId}, #{layerId}, LAST_INSERT_ID(), #{subtitleStyle}, NOW());
    </insert>
    <update id="putSubtitle" parameterType="Map">
        <selectKey keyProperty="subtitleId" resultType="int" order="AFTER">
            SELECT subtitle_id
            FROM Subtitles
            WHERE object_id = #{objectId}
        </selectKey>
        UPDATE Subtitles
        SET
            subtitle_style = #{subtitleStyle},
            update_date = NOW()
        WHERE object_id = #{objectId}
    </update>
    <update id="postSubtitleLayer" parameterType="Map">
        UPDATE Layers
        SET
            sub_first_en = #{subFirstEn},
            sub_second_en = #{subSecondEn}
        WHERE layer_id = #{layerId}
    </update>

    <select id="patchSubtitleLocationValid" resultType="Integer">
        SELECT subtitle_id
        FROM Subtitles
        WHERE object_id = (
            SELECT object_id
            FROM LayerObjects AS O
            WHERE O.layer_id = #{layerId}
              AND type = 30
        )
    </select>
    <update id="patchSubtitleLocation">
        UPDATE Subtitles
        SET
            pos_x = #{posX},
            pos_y = #{posY}
        WHERE subtitle_id = #{subtitleId}
    </update>

    <select id="patchSubtitleSizeValid" resultType="Integer">
        SELECT subtitle_id
        FROM Subtitles
        WHERE object_id = (
            SELECT object_id
            FROM LayerObjects AS O
            WHERE O.layer_id = #{layerId}
              AND type = 30
        )
    </select>
    <update id="patchSubtitleSize">
        UPDATE Subtitles
        SET
            width = #{width},
            height = #{height}
        WHERE subtitle_id = #{subtitleId}
    </update>

    <select id="patchSubtitleStyleValid" resultType="Integer">
        SELECT subtitle_id
        FROM Subtitles
        WHERE object_id = (
            SELECT object_id
            FROM LayerObjects AS O
            WHERE O.layer_id = #{layerId}
              AND type = 30
        )
    </select>
    <update id="patchSubtitleStyle">
        UPDATE Subtitles
        SET subtitle_style = #{subtitleStyle},
            update_date = NOW()
        WHERE subtitle_id = #{subtitleId}
    </update>

    <select id="patchSubtitleScrollValid" resultType="Integer">
        SELECT subtitle_id
        FROM Subtitles
        WHERE object_id = (
            SELECT object_id
            FROM LayerObjects AS O
            WHERE O.layer_id = #{layerId}
              AND type = 30
        )
    </select>
    <update id="patchSubtitleScroll">
        UPDATE Subtitles
        SET
            scroll_way = #{scrollWay},
            scroll_speed = #{scrollSpeed},
            scroll_start_location = #{scrollStartLocation}
        WHERE subtitle_id = #{subtitleId}
    </update>

</mapper>