<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cudo.pixelviewer.user.mapper.UserMapper">

    <select id="postLogin2" resultType="Map">
        SELECT idx AS idx, user_id AS userId, user_name AS userName
             , password AS userPw, auth_code AS authCode, state AS state
             , reg_dt AS regDt, update_dt AS updateDt
             , invalid_cnt AS invalidCnt, led_key AS ledKey
        FROM Users
        where user_id = #{userId}
    </select>
    <select id="postLogin" resultType="com.cudo.pixelviewer.vo.UserVo">
        SELECT *
        FROM Users
        where user_id = #{userId}
    </select>

</mapper>